
<div class="row">
<form class="form-group col-md-offset-1" name="new_event_form" id="createEvent" novalidate ng-submit="createEvent()">

    <h4>What <small>shall we call the event?</small></h4>
    <input class="form-control" type="text" ng-model="event.what" name="what" id="what" placeholder="Title" ng-pattern="" required />
    <span class="error" ng-show="new_event_form.what.$error.required && new_event_form.submitted">Cannot leave what field empty.</span>
    <span class="error" ng-show="new_event_form.what.$error.pattern">Not a valid title.</span>

    <h4>Where <small>is the event taking place?</small></h4>
    <input class="form-control" type="text" ng-model="event.where" name="where" id="where" placeholder="Location" required>
    <span class="error" ng-show="new_event_form.where.$error.required && new_event_form.submitted">Cannot leave where field empty.</span>
    <span class="error" ng-show="new_event_form.where.$error.pattern"></span>

    <span class="start">
        <h4>When <small>is the event</small></h4>
        <input class="form-control" type="date" ng-model="event.when" required>
    </span>
    <span class="end">
        <h4><small>until</small></h4>
        <input class="form-control" type="date" required>
    </span>

    <h4>Why <small>are we having an event?</small></h4>
    <textarea class="form-control" rows="3" ng-model="event.why" name="why" id="why" form="createEvent" required>Description</textarea>
    <span class="error" ng-show="new_event_form.why.$error.required && new_event_form.submitted">Cannot leave why field empty.</span>
    <span class="error" ng-show="new_event_form.why.$error.pattern"></span>

    <h4>Invite <small>people</small></h4>
    <!-- <div class="invitee"> -->
    <ul class="invitee">
        <li><span class="input-group-addon"><input type="checkbox"> Amina Abbasi</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Clark Kent</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Kamran Syed</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Kevin Murphy</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Kristian Castaneda</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Luke Skywalker</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Luke Farnell</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Mohammed Sumon</span></li>
        <li><span class="input-group-addon"><input type="checkbox"> Patrick Star</span></li>
    </ul>
    <!-- </div> -->

    <br>

    <div class="col-md-offset-8">
        <input class="btn btn-default btn-md" type="reset" ng-click="reset()" value="Clear">
        <input class="btn btn-primary btn-md" type="submit" ng-click="" value="Create">
    </div>

</form>
</div>

<!-- IF USING BOOTSTRAP DATEPICKER -->
<!-- <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script> -->
