<div class="row" ng-controller="eventBudgetController">
    
    <div style="float:right;">
        <h2>Total: <small>$249.75</small></h2>
        <hr style="height:1px; background-color:#999; margin-bottom:-15px; margin-top:-10px;">
        <h3 style="text-align:center;">3 <small>people</small></h3>
        <br>
    </div>

    <table class="budget">
<!--     <tr>
        <th colspan="3"><h3>Paying Attendees</h3></th>
    </tr> -->
    <tr>
        <td><span class="glyphicon glyphicon-star"></span> Joanne Tanson</td>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="text" value="$0.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Amina Abbasi</td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="$83.25"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Kamran Syed</td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="$0.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Kevin Murphy</td>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="text" value="$83.25"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Kristian Castaneda</td>
        <td><input type="checkbox" checked="checked"></td>
        <td><input type="text" value="$83.25"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Luke Farnell</td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="$0.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-user"></span> Mohammed Sumon</td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="$0.00"></td>
    </tr>

    </table>


</div>