<div class="row">

    <div style="margin-left:20px; float:left;">
        <h3><small>{{errorMsg}}</small></h3>
    </div>

    <div style="float:right;">
    <!-- <div style="text-align:right;"> -->
        <h2>Invite <small>friends</small></h2>
    </div>

    <!-- <hr style="height:1px; background-color:#999;"> -->

	<table class="addfriend">
    <tr ng-repeat="friend in friendList">
        <td><strong>{{friend.firstName}} {{friend.lastName}}</strong></td>
        <td>{{friend.friendlyName}}</td>
        <td><button class="btn btn-sm btn-default btn-block" ng-click="inviteFriend(friend.UserID)">Invite</button></td>
    </tr>
    </table>

</div>