<div class="row" ng-controller="eventBudgetController">

    <div style="float:right;">
        <h2>Total: <small>$249.75</small></h2>
        <hr style="height:1px; background-color:#999; margin-bottom:-15px; margin-top:-10px;">
        <h3 style="text-align:center;">5 <small>people</small></h3>
        <br>
    </div>

    <table class="items">
    <tr>
        <th>Attendee</th>
        <th>Divided Amount</th>
        <th>Contribution</th>
        <th>To Pay</th>
    </tr><tr>
        <td><span class="glyphicon glyphicon-star"></span> Joanne Tanson</td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$0.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-down"></span> Amina Abbasi</td>
        <td><input type="text" value="$0.00"></td>
        <td><input type="text" value="$0.00"></td>
        <td><input type="text" value="$0.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span> Kamran Syed</td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$20.00"></td>
        <td><input type="text" value="$29.95"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span> Kevin Murphy</td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$60.00"></td>
        <td><input type="text" value="-$10.05"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span> Kristian Castaneda</td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$84.95"></td>
        <td><input type="text" value="-$35.00"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-up"></span> Luke Farnell</td>
        <td><input type="text" value="$49.95"></td>
        <td><input type="text" value="$12.50"></td>
        <td><input type="text" value="$37.45"></td>
    </tr><tr>
        <td><span class="glyphicon glyphicon-thumbs-down"></span> Mohammed Sumon</td>
        <td><input type="text" value="$0.00"></td>
        <td><input type="text" value="$0.00"></td>
        <td><input type="text" value="$0.00"></td>
    </tr>

    </table>


</div>
