<div class="row" ng-controller="eventItemsController">

    <div style="text-align:right;">
        <h2>Total: <small>$249.75</small></h2>
    </div>

    <hr style="height:1px; background-color:#999;">

    <table class="list">
    <tr>
        <th>Items</th>
        <th>Qty</th>
        <th>Expected Cost</th>
        <th>Actual Cost</th>
    </tr><tr>
        <!-- <td><span class="input-group-addon"><input type="checkbox"> Tent</span></td> -->
        <td>Tent</td>
        <td><input type="text" value="2"></td>
        <td><input type="text" value="$110.00"></td>
        <td><input type="text" value="86.00"></td>
    </tr><tr>
        <!-- <td><span class="input-group-addon"><input type="checkbox"> Firewood</span></td> -->
        <td>Firewood</td>
        <td><input type="text" value="20"></td>
        <td><input type="text" value="$50.00"></td>
        <td><input type="text" value="$31.00"></td>
    </tr><tr>
        <!-- <td><span class="input-group-addon"><input type="checkbox"> Hotdogs</span></td> -->
        <td>Hotdogs</td>
        <td><input type="text" value="5 packs"></td>
        <td><input type="text" value="$40.00"></td>
        <td><input type="text" value="$28.00"></td>
    </tr><tr>
        <!-- <td><span class="input-group-addon"><input type="checkbox"> Beer</span></td> -->
        <td>Beer</td>
        <td><input type="text" value="5 cases"></td>
        <td><input type="text" value="$110.00"></td>
        <td><input type="text" value="$104.75"></td>
    </tr><tr>
        <!-- <td><span class="input-group-addon"><input type="checkbox"> (Add Item)</span></td> -->
        <td><input type="text" placeholder="Add Item"></td>
        <td><input type="text" placeholder=""></td>
        <td><input type="text" placeholder=""></td>
        <td><input type="text" placeholder=""></td>
    </tr>
    </table>

</div>