<div ng-controller="eventItemsController">
    <br>
    
    <div style="text-align:right;">
        <h2>Total: <small>$248.50</small></h2>
    </div>

    <hr style="height:1px; background-color:#999;">
    
    <table class="list">
    <tr>
        <th>Items</th>
        <th>Qty</th>
        <th>Expected Cost</th>
        <th>Actual Cost</th>
    </tr><tr>
        <td><input type="checkbox" ng-model=""/> Tent</td>
        <td><input type="text" value="2" ng-model=""/></td>
        <td><input type="text" value="$110.00" ng-model=""/></td>
        <td><input type="text" value="86.00" ng-model=""/></td>
    </tr><tr>
        <td><input type="checkbox" ng-model=""/> Firewood</td>
        <td><input type="text" value="20" ng-model=""/></td>
        <td><input type="text" value="$50.00" ng-model=""/></td>
        <td><input type="text" value="$31.00" ng-model=""/></td>
    </tr><tr>
        <td><input type="checkbox" ng-model=""/> Hotdogs</td>
        <td><input type="text" value="5 packs" ng-model=""/></td>
        <td><input type="text" value="$40.00" ng-model=""/></td>
        <td><input type="text" value="$28.00" ng-model=""/></td>
    </tr><tr>
        <td><input type="checkbox" ng-model=""/> Beer</td>
        <td><input type="text" value="5 cases" ng-model=""/></td>
        <td><input type="text" value="$110.00" ng-model=""/></td>
        <td><input type="text" value="$104.75" ng-model=""/></td>
    </tr><tr>
        <td><input type="checkbox" ng-model=""/> (Add Item)</td>
        <td><input type="text" value=" " ng-model=""/></td>
        <td><input type="text" value=" " ng-model=""/></td>
        <td><input type="text" value=" " ng-model=""/></td>
    </tr>
    </table>

</div>