  <div ng-controller="EventChatController">

    <ul class="messages">
        <li ng-repeat="msg in messageList track by $index">{{msg.Message}}  --  {{msg.friendlyName}} -- {{msg.time |  amDateFormat:'MMMM Do h:mm a'}}</li>
    </ul>

    <form class="chat" ng-submit="sendMsg()">
        <input class="inputMessage" placeholder="Type message..." type="text" ng-model="chat.message"/>
        <input class="sendButton" ng-click="sendMessage(chat)" type="submit" value="SEND" />
    </form>

</div>
