<div class="row">

    <div style="float:right;">
        <h2>Total: <small>${{total}}</small></h2>
        <hr style="height:1px; background-color:#999; margin-bottom:-15px; margin-top:-10px;">
        <h3 style="text-align:center;">{{isPayingCount}} <small>people</small></h3>
        <br>
    </div>

    <table class="items">
    <tr>
        <th ng-if="checkIsOwner()" style="width:20%;">Paying</th>
        <th>Attendee</th>
        <th>Divided Amount</th>
        <th>Contribution</th>
        <th>Amount to Pay</th>
    </tr><tr ng-repeat="result in results" ng-show="checkAttending(result.isAttending)">
        <td ng-if="checkIsOwner()"><input type="checkbox" ng-model="result.isPaying" ng-change="updateIsPaying(result.userId, result.isPaying)"></td>
        <td>{{result.friendlyName}}</td>
        <td>{{result.dividedTotal}}</td>
        <td>{{result.claimedValue}}</td>
        <td>{{result.toPay}}</td>
    </tr>
    </table>


</div>
