<div class="row">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li role="presentation"><a ui-sref="event.create">
                <span class="glyphicon glyphicon-plus"></span> New</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Filter <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="filterForOwner()">My Events</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="filterForAttending()">Going</a></li>
                    <li><a href="#" ng-click="filterForInvited()">Maybe</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="filterForLeft()">Cancelled</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="" ng-click="filterForAll()">All Events</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="searchword" class="form-control searchbox" placeholder="Search">
            </div>
            <button ng-click="searchEvents()" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </form>
        <ul ng-if="checkEventID()" class="nav navbar-nav nav-tabs navbar-right">
            <li role="presentation"><a ng-click="getEventDetails()" ui-sref="event.details({eventID: eventNumber})">Event Details</a></li>
            <li role="presentation"><a ui-sref="event.chat">Messages</a></li>
            <li role="presentation"><a ui-sref="event.items">Item List</a></li>
            <li role="presentation"><a ui-sref="event.budget">Budget</a></li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-5 events">
        <!--Load all the events -->
        <button class="btn-block" ng-repeat="event in eventList | filter : {isAttending: eventFilter} | filter: searchFilter" ng-click="setEventID(event.EventID)" ui-sref="event.details({ eventID: event.EventID })">
        <span class="glyphicon glyphicon-star" ng-show="checkOwner(event)"></span>
        <span style="color:#FF9F1C;" class="glyphicon glyphicon-envelope" ng-show="checkInvited(event)"></span>
        <span style="color:#2EC4B6;" class="glyphicon glyphicon-ok" ng-show="checkAttending(event)"></span>
        <span style="color:#E71D36;" class="glyphicon glyphicon-remove" ng-show="checkDeclined(event)"></span>
        <!-- <span class="glyphicon glyphicon-camera"></span> -->
        {{event.what}}
        <br>{{event.friendlyName}}
        <br>{{event.why}}
        <!-- <br>{{event.isAttending}} -->
        </button>

       <!--  <span style="float:right; font-size:1em;" class="glyphicon glyphicon-star" ng-show="checkOwner(event)"></span>
        <span style="float:right; color:#FF9F1C; font-size:1em;" class="glyphicon glyphicon-envelope" ng-show="checkInvited(event)"></span>
        <span style="float:right; color:#E71D36; font-size:1em;" class="glyphicon glyphicon-thumbs-up" ng-show="checkAttending(event)"></span>
        <span style="float:right; color:#2EC4B6; font-size:1em;" class="glyphicon glyphicon-thumbs-down" ng-show="checkDeclined(event)"></span> -->
    </div>

    <div class="col-md-7">
        <div ui-view="rightView">
            <div class="hello">
            <span style="color:#2B2D32; font-size:6em;" class="glyphicon glyphicon-flag"></span>
            <br>
            <span style="color:#706460; font-size: 4em;">e</span>
            <span style="color:#4B4342; font-size: 4em;">v</span>
            <span style="color:#706460; font-size: 4em;">e</span>
            <span style="color:#B1A08F; font-size: 4em;">n</span>
            <span style="color:#C8B1AB; font-size: 4em;">t</span>
            <span style="color:#99A7A2; font-size: 4em;">s</span>
            <br>
            <span class="form-control">Click an event from the list to view it here</span>
            </div>
        </div>
    </div>

</div>
