<!-- <div ng-controller="eventDetailsController">
    <br> -->
<div class="row col-md-11 col-md-offset-1">

    <div style="float:right;">
        <!-- <span class="glyphicon glyphicon-picture" style="font-size:6em; color:#0B3B39;"> </span><br> -->
        <img class="img-thumbnail eventphoto" src="{{event.thumbnail}}">
        <br>
        <button class="btn btn-sm btn-primary btn-block" ng-show="checkOwner(event.isAttending)" ui-sref="event.addfriend({ eventID: event.EventID })">
            <span class="glyphicon glyphicon-pencil"> INVITE</span>
        </button>
        <button class="btn btn-sm btn-default btn-block" ng-show="checkOwner(event.isAttending)" ui-sref="event.update({ eventID: event.EventID })">
            <span class="glyphicon glyphicon-pencil"> UPDATE</span>
        </button>
        <button class="btn btn-sm btn-danger btn-block" ng-show="checkOwner(event.isAttending)" ng-click="deleteEvent()">
            <span class="glyphicon glyphicon-trash"> DELETE</span>
        </button>
        <button class="btn btn-sm btn-default btn-block" ng-show="showAcceptButton(event.isAttending)" ng-click="attendEvent()">
            <span class="glyphicon glyphicon-ok"> ACCEPT</span>
        </button>
        <button class="btn btn-sm btn-danger btn-block" ng-show="checkInvited(event.isAttending)" ng-click="declineEvent()">
            <span class="glyphicon glyphicon-remove"> DECLINE</span>
        </button>
        <button class="btn btn-sm btn-primary btn-block" ng-show="showLeaveButton(event.isAttending)" ng-click="leaveEvent()">
            <span class="glyphicon glyphicon-trash"> LEAVE</span>
        </button>
        <br>
        <!-- 'Leave' technically means 'Delete' for admin  -->
        <!-- <span class="glyphicon glyphicon-bell"> 2</span> -->
    </div>

    <div>
        <h3>Title <br><small>{{event.what}}</small></h3>
        <h3>Location <br><small>{{event.where}}</small></h3>
        <h3>Schedule
            <br><small>{{event.when}}</small> - <small>{{event.endDate}}</small>
            <br><small>{{event.fromTime}}</small> - <small>{{event.toTime}}</small></h3>
        <h3>Description</h3>
        {{event.why}}

        <h3>Who <small>is coming</small></h3>
        <div class="invitee">

        <div style="padding-left:40px;" ng-repeat="member in memberList">
        <span class="glyphicon glyphicon-star" ng-show="checkOwner(member.isAttending)"></span>
        <span class="glyphicon glyphicon-envelope" ng-show="checkInvited(member.isAttending)"></span>
        <span class="glyphicon glyphicon-thumbs-up" ng-show="checkAttending(member.isAttending)"></span>
        <span class="glyphicon glyphicon-thumbs-down" ng-show="checkDeclined(member.isAttending)"></span>
        <span class="glyphicon glyphicon-remove" ng-show="checkLeft(member.isAttending)"></span> {{member.friendlyName}}</div>

        <br>
        <!-- <span style="padding-left:40px;" class="glyphicon glyphicon-star"></span> Joanne Tanson<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-down"></span> Amina Abbasi<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-up"></span> Kamran Syed<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-up"></span> Kevin Murphy<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-up"></span> Kristian Castaneda<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-down"></span> Luke Farnell<br>
        <span style="padding-left:40px;" class="glyphicon glyphicon-thumbs-up"></span> Mohammed Sumon -->

    </div>

</div>
