

<div class="row">
<form class="form-group col-md-offset-1" name="new_event_form" id="createEvent" novalidate ng-submit="createEvent()">

    <h4 class="wh">What <small>shall we call the event</small></h4>
    <span class="error" ng-show="new_event_form.what.$error.required && new_event_form.submitted">Cannot leave what field empty.</span>
    <span class="error" ng-show="new_event_form.what.$error.pattern">Not a valid title.</span>
    <input class="form-control" type="text" ng-model="event.what" name="what" id="what" placeholder="Title" ng-pattern="" required>

    <h4 class="wh">Where <small>is the event taking place</small></h4>
    <span class="error" ng-show="new_event_form.where.$error.required && new_event_form.submitted">Cannot leave where field empty.</span>
    <span class="error" ng-show="new_event_form.where.$error.pattern"></span>
    <input class="form-control" type="text" ng-model="event.where" name="where" id="where" placeholder="Location" required>

    <span class="start">
        <h4>When <small>does the event start</small></h4>
        <!-- <input class="form-control" type="datetime-local" ng-model="event.when" required> -->
        <!-- datetime-local does not work for IE or FF -->
        <input class="form-control" type="text" class="datepicker" data-provide="datepicker" ng-model="event.when" name="when" id="when" placeholder="MM/DD/YYYY" required>
        <input class="form-control" type="text" class="bootstrap-timepicker timepicker" data-default-time="false" ng-model="event.fromTime" name="fromTime" id="fromTime" placeholder="HH:MM AM/PM" required>
    </span>
    <span class="end">
        <h4><small>end</small></h4>
        <!-- <input class="form-control" type="datetime-local" ng-model="event.endDate" required> -->
        <input class="form-control" data-provide="datepicker" type="text" ng-model="event.endDate" name="endDate" id="endDate" placeholder="MM/DD/YYYY" required>
        <input class="form-control" class="bootstrap-timepicker timepicker" data-default-time="false" type="text" ng-model="event.toTime" name="toTime" id="toTime" placeholder="HH:MM AM/PM" required>
    </span>
    <!-- missing "when" error message, doesn't fit well in layout, maybe use javascript to focus the field -->

    <h4 class="wh">Why <small>are we having an event?</small></h4>
    <span class="error" ng-show="new_event_form.why.$error.required && new_event_form.submitted">Cannot leave why field empty.</span>
    <span class="error" ng-show="new_event_form.why.$error.pattern"></span>
    <textarea class="form-control" rows="3" ng-model="event.why" name="why" id="why" form="createEvent" required>Description</textarea>

    <h4 class="wh">Event <small>icon</small></h4>
    <!-- <input class="form-control" type="text" ng-model="event.picture" name="picture" id="picture" placeholder="Picture string"> -->
    <br><br>
    <img class="thumb" id="preview" ng-src="{{step}}" ng-model="event.picture"><br>
    <input type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)">

    <br><br>

    <div style="text-align: center;">
        <input class="btn btn-default" type="reset" ng-click="reset()" value="Clear">
        <input class="btn btn-primary" type="submit" ng-click="" value="Create">
    </div>

</form>
</div>

<!-- IF USING BOOTSTRAP TIMEPICKER -->
<script type="text/javascript">
$('#fromTime').timepicker({
  icons: {
    up: 'glyphicon glyphicon-heart',
    down: 'glyphicon glyphicon-chevron-down'
  }
});
$('#toTime').timepicker();
$('#when').datepicker({
    format: 'dd/mm/yyyy',
})
$('#endDate').datepicker({
    format: 'dd/mm/yyyy',
})
</script>
