<div class="row">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav nav-tabs nav-friends">
            <li role="presentation"><a ui-sref="friends" class="active">
                <span class="glyphicon glyphicon-heart"></span> Current Friends</a></li>
            <li role="presentation"><a ui-sref="users">
                <span class="glyphicon glyphicon-search"></span> Search Users</a></li>
        </ul>
    </nav>
</div>

<!-- Change to filter instead -->
<div class="row searchfriend">
   <input type="text" ng-model="filter" ng-change="filterFriendList()" placeholder="Search for friends by Email or Username" class="form-control">     
</div>

<div class="row">
    <div class="col-md-5 contacts">

        <button class="btn-block" ng-repeat="friend in friendList" ui-sref="friends.profile({ userID: friend.UserID })">
          <!-- <span class="glyphicon glyphicon-camera"></span> -->
          {{friend.firstName}} {{friend.lastName}}
          <br>{{friend.friendlyName}}
        </button>

<!--         <button ui-sref="friends.profile" class="btn-block" float="right">
            <span class="glyphicon glyphicon-user"></span>
            Kevin Murphy
            <br>@kmurphy
        </button> -->
       
    </div>
    
    <div class="col-md-5 col-md-offset-1">
        <div ui-view="rightView">
            <div class="hello">
            <span style="color:#2B2D32; font-size:6em;" class="glyphicon glyphicon-heart-empty"></span>
            <br>
            <span style="color:#706460; font-size: 4em;">c</span>
            <span style="color:#4B4342; font-size: 4em;">o</span>
            <span style="color:#706460; font-size: 4em;">n</span>
            <span style="color:#B1A08F; font-size: 4em;">t</span>
            <span style="color:#C8B1AB; font-size: 4em;">a</span>
            <span style="color:#706460; font-size: 4em;">c</span>
            <span style="color:#B1A08F; font-size: 4em;">t</span>
            <span style="color:#99A7A2; font-size: 4em;">s</span>
            <br>
            <span class="form-control">Search for friends by Email or Username</span>
            </div>
        </div>
    </div>

</div>
