<!-- <div ng-controller="eventDetailsController">
    <br> -->
<div class="row col-md-11 col-md-offset-1 profile">

    <div class="row">
        <img src="https://cdn0.iconfinder.com/data/icons/education-collection-2/32/user_profile_person_staff_student_circle_boss-512.png" class="img-circle" width="200" height="200">
        <br><br>
    </div>

    <div class="row">
        <h2>{{user.firstName}} {{user.lastName}}
        <br><small>@{{user.friendlyName}}</small></h2>
    </div>

    <div class="row">
        <button class="btn btn-lg btn-default" ng-click="removeFriend()">Unfriend</button>
    </div>

</div>
