<!-- <div ng-controller="eventDetailsController">
    <br> -->
<div class="row col-md-11 col-md-offset-1 profile">

    <div class="row">
        <img src="https://wilmywood.files.wordpress.com/2015/08/tumblr_static_chris-evans-v_a7431_1_png_640x480_upscale_q90.jpg" class="img-circle" width="200" height="200"><br><br>
    </div>

    <div class="row">
        <h2>{{user.firstName}} {{user.lastName}}
        <br><small>@{{user.friendlyName}}</small></h2>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-lg btn-default">Unfriend</button>
    </div>

</div>
