<div class="row hello">
    <!-- <span style="color:#2B2D32; font-size:4em;" class="glyphicon glyphicon-globe"></span> -->
    <span style="color:#4B4342; font-size: 4em;">l</span>
    <span style="color:#706460; font-size: 4em;">o</span>
    <span style="color:#B1A08F; font-size: 4em;">g</span>
    <span style="color:#C8B1AB; font-size: 4em;">i</span>
    <span style="color:#99A7A2; font-size: 4em;">n</span>
</div>
<div class="row col-md-8 col-md-offset-2 login">
    <form class="form-horizontal" name="login_form" novalidate ng-submit="loginUser()">

        <label for="user" class="col-md-3 control-label">Username / Email</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="user" placeholder="Email address or username" ng-model="user.username" required>
        </div>

        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-7">
          <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
        </div>

        <input type="submit" class="btn btn-lg btn-primary" value="Submit"></input>

        <!-- hardcoded to go to event view on button-click -->
        <div class="row col-md-8 col-md-offset-2">
            <br><a ui-sref="signup">No account yet? Sign up here.</a>
        </div>

        <!-- error message for invalid login -->
        <!-- <span class="error" ng-show="">Invalid username or password.</span> -->

    </form>
</div>
