
<div class="row hello">
    <!-- <span style="color:#2B2D32; font-size:4em;" class="glyphicon glyphicon-sunglasses"></span> -->
    <span style="color:#4B4342; font-size: 4em;">s</span>
    <span style="color:#706460; font-size: 4em;">i</span>
    <span style="color:#B1A08F; font-size: 4em;">g</span>
    <span style="color:#C8B1AB; font-size: 4em;">n</span>
    <span style="color:#706460; font-size: 4em;">u</span>
    <span style="color:#99A7A2; font-size: 4em;">p</span>
</div>

<div class="row col-md-9 col-md-offset-2">
    <form class="form-horizontal" name="register_form" role="form" novalidate ng-submit="signupForm()">

        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-7">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" ng-model="user.email" required />
        </div>
        <span class="error" ng-show="register_form.email.$error.required && register_form.submitted">Email is required.</span>

        <label for="firstName" class="col-md-3 control-label">First Name</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="user.firstName" required />
        </div>
        <label for="lastName" class="col-md-3 control-label">Last Name</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ng-model="user.lastName" required />
        </div>

        <label for="friendlyName" class="col-md-3 control-label">Username</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="friendlyName" name="friendlyName" placeholder="Enter a unique username" ng-model="user.friendlyName" required />
        </div>

        <label for="hashPassword" class="col-md-3 control-label">Password</label>
        <div class="col-md-7">
          <input type="password" class="form-control" id="hashPassword" name="hashPassword" placeholder="Enter your password" ng-model="user.hashPassword" required />
        </div>
    
        <!-- hardcoded to go to account settings (to upload photo) on button-click -->
        <div class="row col-md-4 col-md-offset-6">
            <button type="submit" class="btn btn-lg btn-default">Register</button>
            <button type="reset" class="btn btn-lg btn-default">Clear</button>
        </div>

        <!-- Would it be possible to validate as the person types the username? -->
        <!-- <span class="error" ng-show="">Username has already been taken.</span> -->
        <!-- <span class="error" ng-show="">Password does not match.</span> -->

    </form>
</div>