
        <div class="row hello">
            <span style="color:#2B2D32; font-size:4em;" class="glyphicon glyphicon-sunglasses"></span>
            <span style="color:#4B4342; font-size: 4em;">s</span>
            <span style="color:#706460; font-size: 4em;">i</span>
            <span style="color:#B1A08F; font-size: 4em;">g</span>
            <span style="color:#C8B1AB; font-size: 4em;">n</span>
            <span style="color:#706460; font-size: 4em;">u</span>
            <span style="color:#99A7A2; font-size: 4em;">p</span>
            </div>
            <div class="row col-md-offset-4 login">
            <form class="form-group" action="/login" method="post">
                <input type="text" placeholder="Email" class="form-control">
                <input type="text" placeholder="Username" class="form-control">
                <input type="password" placeholder="Password" class="form-control">
                <!-- hardcoded to go to event view on button-click -->
                <button type="submit" ui-sref="event" class="btn btn-lg btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
          </form>
        </div>