
html, body {
  height: 100% !important;
}

h1 {
  color: #fff !important;
}

.row {
  min-height: 100% !important;
  height: 100% !important;
}

/* the left user control panel */
.user {
  text-align: center;
  background-color: #011627 !important;
  color: #E6E6E6 !important;
  float: none;
  /*height: 685px;*/
  min-height: 100% !important;
  height: 100% !important;
}
.user button {
  height: 50px;
}
.user a:hover, a:active, a:link, a:visited {
  text-decoration: none !important;
}

/* items under left user control panel */
.menu {
  background-color: #011627;
  color: #E6E6E6 !important;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 5px;
}

/* items left of the user control panel */
.states {
  min-height: 100% !important;
  height: 100% !important;
}

/* NAVBAR */
.searchbox {
  margin-top: 2.5px !important;
  margin-bottom: 0px !important;
}
.navbar-right {
  margin-right: 5px !important;
}
.navbar-right a:focus {
  color: #706460 !important;
  border-bottom: 1px solid #000 !important;
}
.nav-friends a {
  width: 195px;
  text-align: center;
  color: #99A7A2 !important;
  border-right: 1px #99A7A2 solid !important;
}
.nav-friends a:focus,
.nav-friends .active {
  color: #706460 !important;
  border-bottom: 1px solid #000 !important;
}
nav {
  margin-bottom: 5px !important;
}

/* EVENT LIST */
.events {
  overflow: auto;
  height: 590px;
}
.events button {
  text-align: left;
  background-color: #fff;
  margin-top: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.events span {
  float: left;
  font-size: 4em;
  margin-top: 5px;
  padding-right: 10px;
}

/* EVENT DETAILS */
.eventphoto {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}
.invitee {
  /*table-layout: fixed;*/
  margin-left: 20px;
  width: 80%;
  height: 120px;
  overflow: auto;
}
.invitee li {
  list-style: none;
}
.invitee td {
  /*width: 50%;*/
  /*border-bottom: 1px dashed #666;*/
}
.form-control {
  margin-top: -8px;
  margin-bottom: 5px;
}
.start {
  float: left;
}
.end {
  float: right;
}
.start p, .end p {
  text-align: center;
  margin-top: -10px;
}
.start input, .end input {
  width: 250px;
  margin-bottom: 10px;
}
.addfriend {
  margin-left: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
}
.addfriend td {
  border:1px #000 solid;
}

/* MESSAGE BOARD */
.chat {
  margin-left: 20px;
  /*margin-right: 20px;*/
}
.messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
  height: 520px;
  border: 1px solid #666;
}
.messages li {
	padding: 5px 10px;
}
.messages li:nth-child(odd) {
 background: #eee;
}
.inputMessage {
  border: 1;
  padding: 10px;
  width: 85%;
}
.sendButton {
  width: 12%;
  background: #999;
  border: none;
  padding: 10px;
}

/* ITEM LIST */
.items {
  margin-left: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 95%;
}
.items th, td input {
  width: 95%;
}

/* CONTACT LIST */
.contacts {
  overflow: auto;
  height: 530px;
}
.searchfriend input {
  margin:5px 30px 5px 30px;
  height:40px;
  width:350px;
}
.contacts button {
  text-align: left;
  background-color: #fff;
  margin-top: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.contacts span {
  float: left;
  font-size: 4em;
  margin-top: 5px;
  padding-right: 10px;
}
.contacts .glyphicon-user {
  font-size: 2.5em;
}

/* PROFILE */
.profile {
  text-align: center;
}

/* ACCOUNT SETTINGS */
.account {
  border-left: 1px #666 solid;
}
.account label {
  padding-bottom: 10px;
}

/* OTHERS */

.wh {
  float: left;
}
.error {
  float: right;
  margin-top: 16px;
  font-size:0.8em;
  color: red;
}
.login {
  /*width: 40%;*/
  text-align: center;
}
.hello {
    margin-top: 100px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.input-group-addon {
  text-align: left !important;
  background-color: #fff !important;
}
#preview {
  /*text-align: center;*/
  /*border: 1px #666 solid;*/
  max-height: 100px;
  max-width: 100px;
}
