
html, body {
  height: 100% !important;
}

a:hover {
  text-decoration: none !important;
}

h1 {
  color: #fff !important;
}

.row {
  min-height: 100% !important;
  height: 100% !important;
}

/* the left user control panel */
.user {
  text-align: center;
  background-color: #011627;
  color: #E6E6E6 !important;
  float: none;
  /*height: 685px;*/
  min-height: 100% !important;
  height: 100% !important;
}
.user button {
  height: 50px;
}

/* items under left user control panel */
.menu { 
  background-color: #011627;
  color: #E6E6E6 !important;
  width: 100%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 5px;
}

/* items left of the user control panel */
.states {
  min-height: 100% !important;
  height: 100% !important;
}

/* right side of top navbar */
.navbar-right {
  margin-right: 5px !important;
}

/* EVENT LIST */
.events {
  overflow: auto;
  height: 600px;
}
.events button {
  text-align: left;
  background-color: #fff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.events span {
  float: left;
  font-size: 4em;
  padding-right: 10px;
}

/* MESSAGE DETAILS */
.details {
  /*margin-left: 40px;*/
}
.invitee {
  /*table-layout: fixed;*/
  margin-left: 20px;
  width: 80%;
  height: 120px;
  overflow: auto;
}
.invitee li {
  list-style: none;
}
.invitee td {
  /*width: 50%;*/
  /*border-bottom: 1px dashed #666;*/
}
.form-control {
  margin-top: -8px;
  margin-bottom: 5px;
}
.start {
  float: left;
}
.end {
  float: right;
}
.start p, .end p {
  text-align: center;
  margin-top: -10px;
}
.start input, .end input {
  width: 250px;
  margin-bottom: 10px;
}

/* MESSAGE BOARD */
.chat { 
  margin-left: 20px; 
  /*margin-right: 20px;*/
}
.messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
  height: 570px;
  border: 1px solid #666;
}
.messages li { 
	padding: 5px 10px; 
}
.messages li:nth-child(odd) {
 background: #eee;	
}
.inputMessage { 
  border: 1; 
  padding: 10px; 
  width: 85%;
}
.sendButton {
  width: 12%; 
  background: #999; 
  border: none; 
  padding: 10px; 
}

/* ITEM LIST */
.list {
  margin-left: 30px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}
.list th, td input {
  width: 95%;
}

/* BUDGET */
.budget {
  margin-left: 30px;
  /*table-layout: fixed;*/
  border-collapse: collapse;
  width: 90%;
}
.budget td:first-child {
  width: 50%;
}
.budget th, td {
  width: 25%;
}


.input-group-addon {
  text-align: left !important;
}

