<!-- <div ng-controller="eventDetailsController">
    <br> -->
<div class="row col-md-11 col-md-offset-1 profile">

    <div class="row">
        <img src="http://orig14.deviantart.net/6b42/f/2012/161/9/4/945f3e6ebdf980dc2c2a433cf708d0c6-d5309ho.jpg" class="img-circle" width="200" height="200"><br><br>
    </div>

    <div class="row">
        <h2>{{user.firstName}} {{user.lastName}}
        <br><small>@{{user.friendlyName}}</small></h2>
    </div>

    <div class="row">
        <button class="btn btn-lg btn-default" ng-click="addNewFriend()">Add Friend</button>
    </div>

</div>
