<!-- <div ng-controller="eventDetailsController">
    <br> -->
<div class="row col-md-11 col-md-offset-1 profile">

    <div class="row">
        <img src="https://cdn1.iconfinder.com/data/icons/ui-5/502/profile-256.png" class="img-circle" width="150" height="150">
        <br><br>
    </div>

    <div class="row">
        <h2>{{user.firstName}} {{user.lastName}}
        <br><small>@{{user.friendlyName}}</small></h2>
    </div>

    <div class="row">
        <button class="btn btn-lg btn-default" ng-click="addNewFriend()">Add Friend</button>
    </div>

</div>
