<div ng-controller="eventBudgetController">
    <h3 align="center">Paying Attendees</h3>

    <table class="list">
    <tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-star"></span> Joanne Tanson</td>
        <td><input type="checkbox" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Amina Abbasi</td>
        <td><input type="checkbox" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Kamran Syed</td>
        <td><input type="checkbox" checked="checked" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Kevin Murphy</td>
        <td><input type="checkbox" checked="checked" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Kristian Castaneda</td>
        <td><input type="checkbox" checked="checked" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Luke Farnell</td>
        <td><input type="checkbox" ng-model=""/></td>
    </tr><tr>
        <td><span style="padding-left:40px;" class="glyphicon glyphicon-user"></span> Mohammed Sumon</td>
        <td><input type="checkbox" ng-model=""/></td>
    </tr>

    </table>


</div>