<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plan_it.mobile.plan_it" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".EventsListActivity"
            android:label="@string/title_activity_events_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:label="@string/title_activity_friends_list" >
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name=".ViewEventActvity"
            android:label="@string/title_activity_view_event_actvity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_activity_item_list" >
        </activity>
    </application>

</manifest>
